@import url(https://fonts.googleapis.com/css?family=Bitter);

body, html{
	font-family: 'Bitter', serif;
	padding: 0;
	width: 100%;
}

/*Weatherly*/
h1{
	color: #FAB423;
	font-size: 48px;
	float: left;
	width: 100%;
}

/*City name*/
h3{
	font-size: 35px;
	color:#ffffff;
}

input{
	font-size: 25px;
  border: 2px solid #D8D8D8;
  height: 50px;
  margin-left: 2em;
  width: 640px;
}

/*today*/
small{
	font-size: 15px; 
	color: #ffffff;
}

.container{
	width: 100%;
}

.current-weather{
	background-color: #F8E71C;
	clear: both;
	text-align: center;
	width: 100%;
	height: 420px;
}

.forecast-days, .forecast-temp{
	margin: 0;
	text-align: center;
	width: 33.33%;
}

.forecast-days{
	float: left;
	height: 80px;
}

.forecast-days:nth-child(4){
	border-bottom: 5px solid #FFD63F;
}

.forecast-days:nth-child(5){
	border-bottom: 5px solid #FFB74D;
}

.forecast-days:nth-child(6){
	border-bottom: 5px solid #FFA000;
}

.forecast-temp{
	background-color: #FFB74D;
	float: left;
	height: 200px;
}

.forecast-temp:first-child{
	background-color: #FFD63F;
}

.forecast-temp:nth-child(2){
	background-color: #FFB74D;
}

.forecast-temp:nth-child(3){
	background-color: #FFA000;
}

.form-group{
float: left;
font: #D8D8D8;
margin-top: 1em;
border: #D8D8D8;
}

.row{
	height: 80px;
	border-bottom: 2px #D8D8D8;
}

.search{
	overflow: hidden;
	display: block;
}

.title{
	display: block;
	float: left;
}

#today-temp{
	font-size: 180px; 
	color: #ffffff;
}

#temps{
	color: #fff;
	font-size: 85px; 
}

#days{
	color: #FFB74D;
	font-size: 45px;
	width: 100%;
}
