@import url(https://fonts.googleapis.com/css?family=Bitter);

body, html{
	font-family: 'Bitter', serif;
	padding: 0;
	width: 100%;
}

h1{
	color: #FAB423;
	font: 48px;
	float: left;
	width: 100%;
}

input{
	font: 25px;
  border: 2px solid #D8D8D8;
  height: 50px;
  margin-left: 1em;
  width: 640px;
}

.container{
	width: 100%;
}

.current-weather{
	background-color: #F8E71C;
	clear: both;
	text-align: center;
	width: 100%;
	height: 420px;
}

.forecast-days{
	background-color: #FFB74D;
	float: left;
	height: 200px;
	width: 33.33%;
	text-align: center;
}

.forecast-days:first-child{
	background-color: #FFD63F;
}

.forecast-days:nth-child(2){
	background-color: #FFB74D;
}

.forecast-days:nth-child(3){
	background-color: #FFA000;
}

.form-group{
float: left;
font: #D8D8D8;
margin-top: 1em;
border: #D8D8D8;
}

.row{
	height: 80px;
	border-bottom: 2px #D8D8D8;
}

.search{
	overflow: hidden;
	display: block;
}

.title{
	display: block;
	float: left;
}