<div class="container">

    <!-- title and search container -->
    <!-- title -->
<div class="row">
      <div class="col-sm-2 title">
        <h1>Weatherly</h1>
      </div>
      <!-- search -->
      <div class="col-sm-10 search">
        <form ng-submit="searchCity()" class="form-inline">
          <div class="form-group">
            <input type="text" ng-model="city" placeholder="Search city e.g. 'San Francisco'">
            <input type="submit"  id="button" value="Search">
          </div>
        </form>
      </div>
</div>

<!-- Todays Weather -->
<div class="current-weather">
  <small>Today</small>
  <br>
  <h3>{{city}}</h3>
  <br>
  <img style = "height:48px;" ng-src="images/{{icon}}" 'icon image'>
  <p id="today-temp">{{weather.main.temp | number: 0}} &ordm;</p>
</div>

<!-- Three Day Forecast -->
<div class="next-three-day-forecast">
  <p class="forecast-temp" ng-repeat="day in forecasts | filter:onceDaily | limitTo:quantity" ><strong id="temps">{{day.main.temp | number: 0}}&ordm;</strong>
  <!-- <p class="forecast-temp"><strong id="temps">{{forecast.main.temp | number: 0}}&ordm;</strong> -->
    <img class="three-day-icons" style = "height:48px;" ng-src="images/{{icon}}" alt='icon images'>
  </p> 
  <p class="forecast-days" ng-repeat="day in forecasts | filter:onceDaily | limitTo:quantity" ><strong id="days" >{{day.dt_txt | formattedDate }}</strong></p>
</div>

